<html>
  <body>
    <h1>Petition</h1>
    <p>This is a petition, enter your name to sign it.</p>
    <form action="/sign" method="POST">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name" value="John Doe"><br>
      <input type="checkbox" id="anonymous" name="anonymous">
      <label for="anonymous"> I want to stay anonymous</label><br>
      <input type="submit" value="Submit">
    </form>
    <h2>Signers</h2>
    <ul>
      {{#signers}}
        <li>{{{.}}}</li>
      {{/signers}}
    </ul>
  </body>
</html>
